.bottom-bar {
    background-color: $medium-orange;
    text-align: center;
    p {
        padding: .8rem 2rem;
        color: $white;
        font-size: $font-small;
        font-weight: 300;
    }

}