.bottom-bar {
    background-color: var(--medium-color);
    text-align: center;
    p {
        padding: .8rem 2rem;
        color: var(--white);
        font-size: var(--font-small);
        font-weight: 300;
    }

}