.color-switcher {
  position: absolute;
  display: block;
  top: 90px;
  right: 210px;
  
 
  .color-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-transform: uppercase;
    width: 24rem;
    border: $dark-color 2px solid;
    padding: 0.8rem 1.2rem;
    background-color: $white;
    cursor: pointer;
    p {
      font-weight: 500;
    }
  }

  .color-options {
    display: none;
  }

  &.active {
    .color-options {
      display: flex;
      flex-direction: column;
      width: 24rem;
      border-left: $medium-color 2px solid;
      border-bottom: $medium-color 2px solid;
      border-right: $medium-color 2px solid;
      padding: 1.5rem 2rem;
      background-color: $white;
      gap: 1.5rem;

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: $font-medium;
        img {
          width: 2rem;
        }
      }
    }
  }
}
