.color-switcher {
  .color-button {
    display: none;
  }

  .color-options {
    display: none;
  }

  @include mq(1050px) {
     display: flex;
     flex-direction: column;
    z-index: 999;
    color: var(--dark-color);
    position: relative;
   
    .color-button {
      position: static;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 1rem;
      height: 3rem;
      width: 15rem;
      text-transform: uppercase;
      color: var(--dark-color);
      padding: 0.8rem 1.2rem;
      margin-right: 1rem;
      cursor: pointer;
      background-color: var(--white);
      border: 2px solid var(--dark-color);

      svg {
        width: 20px;
        height: auto;
        color: var(--dark-color);
      }

      p {
        font-weight: 400;
        font-size: var(--font-small);
        padding: 0;
        margin: 0;
      }

      &:hover {
        color: var(--medium-color);
      }
    }

    .color-options {
      display: none;
    }

    // NOVO: hover no container inteiro
    &.active {
      .color-options {
        display: flex;
        flex-direction: column;
        position: absolute;
      background-color: var(--white);
      border: 2px solid var(--dark-color);
      top: 46px;
      right: 1rem;
      width: 15rem;
      padding: 1.5rem;
      gap: 1rem;
      justify-content: space-between;
      

      div {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        font-size: var(--font-small);

        p {
          font-weight: 300;
          margin: 0
        };

        a {
          display: inline-block;

          &.inactive {
            opacity: 0.4;
            transform: rotateY(180deg);

            &:hover {
              opacity: 1;
              transform: rotateY(0deg);
            }
          }

          &.active {
            opacity: 1;
            transform: rotateY(0deg);
          }

          svg.icon {
            width: 2rem;
            height: auto;
            color: var(--dark-color);
            transition: color 0.3s ease;
          }
        }
      }
      }
    }
  }
}
