.color-switcher {
  position: relative;
  margin: 0;

  .fab-icon {
    background: var(--medium-color);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    color: var(--white);
    backdrop-filter: blur(10px);
    transition: 0.25s ease;

    &:hover {
      background: var(--light-color);
      transform: scale(1.05);
    }
  }

  .theme-list {
    position: absolute;
    top: 5px;
    left: -100px;
    transform: translateX(-50%) translateY(-10px);
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    opacity: 0;
    gap: 1rem;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;

    .theme-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      padding: 10px 20px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      width: 10rem;
      color: var(--dark-color);
      gap: 15px;
      opacity: 0;
      transform: translateY(10px);
      transition: 0.25s ease;
      p {
        font-weight: 300;
      }

      .radio {
        opacity: 0.6;
        transition: 0.25s ease;
      }

      .active-radio {
        opacity: 1;
        transform: scale(1.15);
      }

      .theme-svg {
        width: 40px;
        height: 20px;
      }

      &.active {
        background: rgba(255, 255, 255, 0.18);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);

        .radio {
          opacity: 1;
          transform: scale(1.15);
        }
      }
    }
  }

  &.open {
    .theme-list {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(-50%) translateY(0);

      .theme-item {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

/* MOBILE */
@media (max-width: 1050px) {
  .color-switcher {
    .theme-list {
      top: -70px;
      left: -70px;
      transform: translateX(-50%) translateY(-10px);
      display: flex;
      flex-direction: row;

      .theme-item {
    width: auto;
        margin: 0;
        padding: 5px;
        gap: 8px;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

