footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 1rem;
    font-weight: 200;
    align-items: end;
    font-size: var(--font-small);
    line-height: 20px;
    
    a {
        
        svg {
            width: 75px;
        }
    }
    div {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        
        ul {
            padding-top: 2rem;
            padding-bottom: 0;
            margin: 0;
        }
    }


    @include mq(1050px) {
        flex-direction: row;
    margin: 2rem 6rem;
    
  }
    @include mq(1650px) {
    margin: 2rem 13rem;
  
  }
}

.underline {
    text-decoration: underline;
}