footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin: 6rem 3rem;
  padding: 0;
  font-weight: 300;
  align-items: end;
  font-size: var(--font-small);
  line-height: 20px;

  a {
    transition: 0.25s ease;
    svg {
      width: 65px;
    }
    :hover {
        color: var(--medium-color);
        
    }
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    margin: 0;
    padding: 0;

    ul {
      padding-top: 2rem;
      padding-bottom: 0;
      padding: 0;
      margin: 0;
      li {
        :hover {
            text-decoration: underline;
        }
      }
    }
  }

  @include mq(1050px) {
    flex-direction: row;
    margin: 3rem 6rem;
    div {
        flex-direction: row;
    }
  }
  @include mq(1650px) {
    margin: 3rem 13rem;
  }
}

.underline {
  text-decoration: underline;
  font-weight: 400;
  line-height: 10px;
}
