nav {
  margin-top: 3rem;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  section {
    .menu-button {
      position: fixed;
      bottom: 2rem;
      left: 2rem;
      background: var(--medium-color);
      border: none;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      padding: 1rem;
      cursor: pointer;
      z-index: 200;

      svg {
        height: 30px;
        margin: 0;
        padding: 0;
        color: var(--white);
        align-items: center;
        align-content: center;
        justify-content: center;
        align-self: center;
        &:hover {
          rotate: 45deg;
        }
      }
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .logo-button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        z-index: 200;
        svg {
          height: 50px;
          color: var(--dark-color);
        }
        :hover {
          color: var(--medium-color);
        }
      }

      p {
        margin-left: 1rem;
        font-family: var(--body-font);
        font-weight: 400;
      }
    }
  }

  ul {
    display: none;
  }

  &.menu-open {
    ul {
      position: fixed;
      bottom: 2rem;
      left: 2rem;
      background: var(--medium-color);
      border: none;
      border-radius: 2rem;
      width: 87vw;
      height: 70px;
      cursor: pointer;
      z-index: 200;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      display: flex;
      font-size: var(--font-small);
      z-index: 100;
      margin: 0;
      li {
        a {
          padding: 0.5rem 1rem; // padding fixo já definido aqui
          border-radius: 1rem; // borda arredondada fixa
          transition: background-color 0.3s ease; //
          color: var(--bkg-color);
          display: flex;
          gap: 1rem;
          flex-direction: row-reverse;
          align-items: center;
          color: var(--white);
          z-index: 400;
          p {
            color: var(--white);
            display: none;
          }

          &:hover {
            background-color: var(--dark-color);
            z-index: 400;
            p {
              display: flex;
              transition: background-color 0.3s ease;
            }
          }
        }
      }
    }
  }

  // DESKTOP/TABLET
  @include mq(1050px) {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 0.5px;
    font-size: var(--font-xmedium);
    font-weight: 300;
    padding: 0;
    margin-top: 3rem;
    align-items: center;
    z-index: 100;

    section {
      display: flex;
      flex-direction: row;
      align-items: center;

      .menu-button {
        position: unset;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        z-index: 200;

        svg {
          display: block;
          height: 45px;
          color: var(--medium-color);
          &:hover {
            rotate: 45deg;
          }
        }
      }
    }
    ul {
      li {
        padding: 0;
        margin: 0;
        align-self: center;
        a {
          margin-left: 3rem;
          font-family: var(--body-font);
          &:hover {
            color: var(--medium-color);
          }
          img {
            display: none;
          }
        }
        list-style: none;
      }
      display: flex;
      flex-direction: row;
      color: var(--dark-color);
      align-self: normal;
      padding: 0;
      margin: 0;
    }

    &.menu-open {
      ul {
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--dark-color);
        list-style: none;
        font-size: 10rem;
        line-height: 8rem;
        border-radius: 0;
        gap: 1rem;
        color: var(--bkg-color);

        li {
          align-self: baseline;
          a {
            p {
              color: var(--bkg-color)
            }
            font-family: var(--heading-font);
          }
        }
      }
    }
  }
}
