.single-proposta {
  .proposta-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 10rem;
    padding: 0;
    text-transform: lowercase;
    height: 50vh;

    h2 {
      font-size: 4rem;
      color: var(--dark-color);
      font-weight: 100;
      letter-spacing: -4px;
    }

    p {
      font-size: 14px;
      color: var(--dark-color);
      font-weight: 300;

      strong {
        font-weight: 600;
      }
    }

    @include mq(1050px) {
      h2 {
        font-size: 6rem;
        letter-spacing: -6px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .proposta-head > div {
  display: flex;
  align-items: center;
  width: 50px;
  color: var(--medium-color);
  margin-top: 4rem;
}

  .proposta-bar {
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 2rem;
    padding: 2rem 1rem;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    .v-divider {
      width: 1px;
      align-self: stretch;
      background-color: var(--white);
      opacity: 0.4; // opcional
    }

    p {
      color: var(--white);
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      gap: 0.2rem;
      width: max-content;
      font-weight: 300;

      strong {
        font-weight: 700;
        font-size: 12px;
      }
    }
  }

  .etapas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10rem;
    svg {
      width: 2rem;
      color: var(--dark-color);
      margin-bottom: 1rem;
      rotate: 90deg;
    }
    h2 {
      font-family: var(--body-font);
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 300;
      color: var(--dark-color);
    }
  }

  .proposta-scope {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 10rem;

    .proposta-first,
    .proposta-second,
    .not-included {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 2rem;
      border-top: 1px solid var(--dark-color);
      margin-top: 1rem;
      padding-top: 4rem;

      @include mq(1050px) {
        flex-direction: row;
        align-items: flex-start;
        gap: 5rem;
      }

      .ni-content {
        p {
          font-weight: 300;
          text-align: justify;
          font-size: 16px;
          width: 100%;
          line-height: 25px;

          strong {
            font-weight: 700;
          }
        }
      }

      .first-head,
      .second-head,
      .ni-head {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 0;

        p {
          padding: 0.9rem;

          aspect-ratio: 1 / 1;

          display: flex;
          align-items: center;
          justify-content: center;

          border: 1px solid var(--dark-color);
          border-radius: 50%;

          font-family: var(--heading-font);
          background-color: var(--white);
        }

        h2 {
          font-family: var(--body-font);
          text-transform: uppercase;
          font-size: 25px;
          font-weight: 300;

          strong {
            font-weight: 600;
          }
        }
      }

      .first-content,
      .second-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        .proposta-includes,
        .proposta-price {
          color: var(--dark-color);
          background-color: var(--bkg-color);
          color: var(--dark-color);
          padding: 3rem;
          border: var(--dark-color) 2px solid;
          box-shadow: 4px 4px 0 var(--dark-color);
          width: 100%;

          ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            line-height: 25px;
            li {
              font-weight: 300;
              strong {
                font-weight: 550;
              }
            }
          }
        }

        .proposta-price {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          div {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            h2 {
              font-family: var(--body-font);
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 300;
              span {
                text-decoration: underline;
              }
            }
            p {
              font-size: 25px;
              font-weight: 600;
            }
          }

          svg {
            width: 3rem;
            margin: 1rem 0;
            color: var(--light-color);
          }
        }
      }
    }
  }

  .proposta-fprice {
    background-color: var(--dark-color);
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    p {
      color: var(--white);
      font-size: 13px;
      font-weight: 400;
    }

    .fprice-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      

      h2 {
        color: var(--white);
        font-family: var(--body-font);
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
        strong {
          font-weight: 600;
          text-decoration: underline;
        }
      }

      div {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        p:first-child {
          text-decoration: line-through;
          opacity: 0.7;
          font-weight: 300;
        }

        p {
          color: var(--white);
          font-size: 24px;
          font-weight: 600;
        }
      }

      @include mq(1050px) {
        flex-direction: row;
        gap: 5rem;

        div {
          flex-direction: column;
        }
      }
    }
  }
  .cta-proposta {
    display: flex;
    justify-content: center;

    a {
      transform: scale(0.95);
  opacity: 0;
      display: inline-flex;
      align-items: center;
      gap: 0.75rem;

      font-size: 14px;
      font-weight: 500;
      text-align: center;

      background-color: var(--dark-color);
      color: var(--white);

      padding: 1rem 2rem;
      margin-top: 6rem;
      max-width: 30rem;

      border: 2px solid var(--dark-color);
      border-radius: 14px;

      text-decoration: none;
      cursor: pointer;

      transition: all 0.25s ease;

      .arrow-icon {
        width: 18px;
        height: 18px;
        transition: transform 0.25s ease;
      }

      &:hover {
        background-color: var(--white);
        color: var(--dark-color);

        .arrow-icon {
          transform: translateX(4px);
        }
      }
    }
  }
}
