.page-about {
  position: relative; // cria um contexto local
  z-index: 0;

  .hero-about {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    background-color: var(--light-color);
    width: 100vw;
    height: calc(70vh + 6rem);
    top: -7.4rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
        position: absolute;
    }

   .main-content-about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 60vh;
        top: 10rem;
        h1, h2 {
            font-weight: 400;
            letter-spacing: -10px;
        }
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 4rem;
        }

        div {
            position: absolute;


            img {
                width: 400px;
            }

            button {
                position: absolute;
                top: 30px;
                left: 30px;
            }
        }
    }



  }
}
