.page-about {
  background-color: var(--light-color);
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 6rem);
  margin-left: -3rem;
  margin-right: -3rem;
  margin-top: calc(-3rem - 4rem);
  margin-bottom: 20rem;
  position: relative;
}

.hero-about {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 20rem;
}

.main-content-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--dark-color);

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1,
    h2 {
      line-height: 1.1;
      font-weight: 100;
      letter-spacing: -8px;
      position: absolute;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    h1 {
      color: var(--white);
      top: -1.8rem;
      font-size: 6rem;
      letter-spacing: -10px;
      z-index: 90;
    }

    h2 {
      font-size: 6.5rem;
      letter-spacing: -10px;
      top: 20rem;
      z-index: 96;
    }

    img {
      width: 300px;
      height: 400px;
      object-fit: cover;
      margin: 3rem 6rem;
      z-index: 95;
    }

    p {
      position: absolute;
      top: 8rem;
      left: 21rem;
      font-family: var(--body-font);
      font-size: var(--font-xsmall);
      width: 40%;
      text-transform: uppercase;
      text-align: start;
      font-weight: 300;
      letter-spacing: 0.1em;
      line-height: 1.4;
      z-index: 97;
      color: var(--white);
    }

    button {
      display: flex;
      position: absolute;
      top: 4.5rem;
      left: 8rem;
      z-index: 100;
    }
  }
}

@include mq(550px) {
  .page-about {
    width: calc(100% + 10rem);
    margin-left: -5rem;
    margin-right: -5rem;
    margin-top: calc(-3rem - 4rem);
    padding: 40px 5rem;
  }
}

@include mq(1050px) {
  .page-about {
    width: calc(100% + 18rem);
    min-height: 80vh;
    margin-left: -9rem;
    margin-right: -9rem;
    margin-top: calc(-3rem - 4rem);
    padding: 40px 9rem;

    .main-content-about {
      div {
        h1 {
          font-size: 10rem;
          top: -5rem;
        }

        h2 {
          font-size: 10rem;
          top: 30rem;
        }
        img {
          width: 500px;
          height: 650px;
          margin: 3rem 10rem;
        }
        p {
          font-size: var(--font-xmedium);
          width: 20%;
          top: 20rem;
          left: 45rem;
        }
        button {
          top: 5rem;
          left: 13rem;
        }
      }
    }
  }
}
