.page-home {
  .hero {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 100%;

    h1 {
      margin: 0;
      padding: 0;
      text-align: left;
      font-weight: 100;
      font-size: 8rem;
      line-height: 92px ;
      letter-spacing: -12px;
    }

    p {
      margin-top: 1rem;
      padding: 0;
      font-family: $bodyFont;
      font-weight: 100;
      text-align: left;
      font-size: $font-medium;
      .bold {
        font-weight: 500;
      }
    }

    img {
      align-self:flex-start;
      margin-top: 1rem;
      width: 50px;
    }

    @include mq(770px) {
      margin-top: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      h1 {
        margin: 0;
        line-height: 0.9;
        text-align: center;
        font-weight: 100;
        padding: 0;
        font-size: 19rem;
        letter-spacing: -40px;
      }
      p {
        margin: 0;
        padding: 0;
        font-family: $bodyFont;
        font-weight: 100;
        text-align: right;
        font-size: $font-large;
        white-space: inherit;
        align-self: flex-end;
        .bold {
          font-weight: 500;
        }
      }
      img {
      align-self:flex-end;
      margin-top: 1.5rem;
      width: 80px;
    }
    }
  }

  .home-content {
    margin-bottom: 15rem;
    margin-top: 15rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .home-content-text {
      background-color: $medium-orange;
      padding: 6rem 2.5rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      p {
        color: $white;
        text-align: center;
        font-size: $font-small;
        font-weight: 200;
        line-height: 25px;
      }
    }

    .home-content-quote {
      text-align: center;

      img {
        margin-bottom: 2rem;
        height: 5rem;
      }

      h2 {
        font-family: $headingFont;
        font-size: $font-xlarge;
        margin-bottom: 3rem;
        line-height: 37px;
        font-weight: 100;
        text-transform: lowercase;
      }

      .cta-buttons {
        display: flex;
        gap: 1.5rem;
        justify-content: center;

        a {
          font-size: $font-small;
          width: 70%;
          text-decoration: none;
          color: $dark-orange;
          background-color: $beige;
          padding: 0.7rem 0.2rem;
          border: $dark-orange 2px solid;
          font-weight: 400;
          box-shadow: 6px 6px 0 $dark-orange;
          transition: all 0.2s ease;
          text-align: center;
        }
      }
    }
    @include mq(770px) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 25rem;

      .home-content-text {
        width: 45%;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 1rem;
        padding-top: 15rem;
        padding-bottom: 15rem;
        align-content: center;

        p {
          font-size: $font-medium;
          text-align: left;
          max-width: 60%;
          align-self: center;
          line-height: 35px;
          margin-left: 3rem;
        }
      }

      .home-content-quote {
        max-width: 40%;
        text-align: right;

        img {
          margin-bottom: 2rem;
          height: 8rem;
        }

        h2 {
          font-size: 80px;
          line-height: 75px;
        }

        .cta-buttons {
          align-items: flex-end;
          justify-content: flex-end;
          a {
            width: 40%;
            font-size: $font-medium;
          }
        }
      }
    }
  }
}
