.all-projects {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .projects {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: end;

    h2 {
      width: 20%;
      text-transform: lowercase;
      font-weight: 200;
      letter-spacing: -3px;
      line-height: 40px;
      font-size: 2.5rem;
      padding: 0;
      margin: 0;
    }

    .project-card {
      background-color: var(--bkg-color);
      border: solid 2px var(--medium-color);
      box-shadow: 10px 10px 0 var(--dark-color);
      height: 25rem;
      width: 60rem;
      margin-right: -2rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      p {
        font-size: var(--font-supersmall);
        font-weight: 400;
      }

      img {
        height: 16rem;
        object-fit: cover;
      }
    }

    :hover {
      background-color: var(--light-color);
    }
  }
  .projects-inverse {
    margin-top: 4rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
    align-items: end;

    h2 {
      width: 20%;
      text-transform: lowercase;
      font-weight: 200;
      letter-spacing: -3px;
      line-height: 45px;
      font-size: 2.5rem;
      padding: 0;
      margin: 0;
    }

    .project-card {
      background-color: var(--bkg-color);
      border: solid 2px var(--medium-color);
      box-shadow: 10px 10px 0 var(--dark-color);
      height: 17rem;
      width: 60rem;
      margin: -2rem;
      padding: 1rem;
    }
  }
}
