.single-proposta {
  .proposta-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 10rem;
    padding: 0;
    text-transform: lowercase;
    height: 50vh;

    h2 {
      font-size: 4rem;
      color: var(--dark-color);
      font-weight: 100;
      letter-spacing: -4px;
    }

    p {
      font-size: 18px;
      color: var(--dark-color);
    }
  }

  .proposta-bar {
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    .v-divider {
      width: 1px;
      align-self: stretch;
      background-color: var(--white);
      opacity: 0.4; // opcional
    }

    p {
      color: var(--white);
      font-size: 16px;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      strong {
        font-weight: 600;
        font-size: 12px;
      }
    }
  }

  .etapas {
    display: flex;
    justify-content: center;
    margin-top: 0;
    h2 {
      font-family: var(--body-font);
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 300;
      color: var(--dark-color);
    }
  }

  .proposta-scope {
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    gap: 10rem;

    .proposta-first,
    .proposta-second,
    .not-included {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 2rem;
      border-top: 1px solid var(--dark-color);

      .first-head,
      .second-head,
      .ni-head {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 3rem;

        p {
          border: 1px solid var(--dark-color);
          color: var(--dark-color);
          padding: 0.9rem;
          border-radius: 100%;
          font-family: var(--heading-font);
          background-color: var(--white);
          font-size: 18px;
        }
        h2 {
          font-family: var(--body-font);
          text-transform: uppercase;
          font-size: 25px;
          font-weight: 300;

          strong {
            font-weight: 600;
          }
        }
      }

      .first-content,
      .second-content,
      .ni-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        .proposta-includes,
        .proposta-price {
          color: var(--dark-color);
          background-color: var(--bkg-color);
          color: var(--dark-color);
          padding: 3rem;
          border: var(--dark-color) 2px solid;
          box-shadow: 4px 4px 0 var(--dark-color);
          width: 100%;

          ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            li {
              font-weight: 200;
              strong {
                font-weight: 600;
              }
            }
          }
        }

        .proposta-price {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          div {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            h2 {
              font-family: var(--body-font);
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 200;
              span {
                text-decoration: underline;
              }
            }
            p {
              font-size: 25px;
              font-weight: 600;
            }
          }

          svg {
            width: 3rem;
            margin: 1rem 0;
            color: var(--light-color);
          }
        }
      }
    }
  }

  .proposta-fprice {
    background-color: var(--dark-color);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;

    .fprice-text {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h2 {
        color: var(--white);
        font-family: var(--body-font);
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
          color: var(--white);
          font-size: 24px;
          font-weight: 600;
        }
      }
    }

    .fprice-payment {
      p {
        color: var(--white);
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
