.page-home {
  
  .hero {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 100%;
    .hero-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0;
        .transp {
          opacity: 0.2;
        }
         svg {
        align-self: center;
        margin-top: 1.5rem;
        width: 85vw;
        margin-bottom: 1rem;
        color: var(--dark-color);
      }
    }


    p {
      margin-top: 1rem;
      padding: 0;
      font-family: var(--body-font);
      font-weight: 100;
      text-align: center;
      font-size: var(--font-supersmall);
      
      letter-spacing: 2px;
      .bold {
        font-weight: 900;
      }
    }

 

    @include mq(1050px) {
     .hero-text {
        gap: 4rem;
        margin-bottom: 2rem;
        .transp {
          opacity: 0.2;
        }
         svg {
        align-self: center;
        margin-top: 1.5rem;
        width: 70vw;
        margin-bottom: 1rem;
        color: var(--dark-color);
      }
      }
      p {
        margin: 0;
        width: 70vw;
        padding: 0;
        font-family: var(--body-font);
        font-weight: 100;
        text-align: right;
        font-size: var(--font-large);
        white-space: inherit;
        .bold {
          font-weight: 500;
        }
      }
     
    }
  }

  .home-content {
    margin-bottom: 10rem;
    margin-top: 15rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .home-content-text {
      background-color: var(--dark-color);
      padding: 8rem 4rem;
      margin-top: 3rem;
      margin-bottom: 0;
      p {
        color: var(--white);
        text-align: center;
        font-size: var(--font-supersmall);
        font-weight: 200;
        line-height: 25px;
      }
    }

    .home-content-quote {
      text-align: center;

      svg {
        margin-bottom: 2rem;
        height: 5rem;
        color: var(--medium-color);
      }

      h2 {
        font-family: var(--heading-font);
        font-size: var(--font-xlarge);
        margin-bottom: 3rem;
        line-height: 35px;
        font-weight: 100;
        max-width: 20rem;
        text-transform: lowercase;
      }

      .cta-buttons {
        display: flex;
        gap: 1.5rem;
        justify-content: center;

        a {
          font-size: var(--font-supersmall);
          width: 70%;
          text-decoration: none;
          color: var(--dark-color);
          background-color: var(--bkg-color);
          padding: 0.7rem 0.2rem;
          border: var(--dark-color) 2px solid;
          font-weight: 500;
          box-shadow: 6px 6px 0 var(--dark-color);
          transition: all 0.2s ease;
          text-align: center;
        }
        a:nth-child(2) {
          box-shadow: 6px 6px 0 var(--light-color);
          font-weight: 200;
        }
      }
    }
    
    @include mq(1050px) {
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      margin-bottom: 10rem;

      .home-content-text {
        width: 40%;
        margin: 0;
        padding-top: 15rem;
        padding-bottom: 15rem;
        align-content: center;

        p {
          font-size: var(--font-small);
          text-align: left;
          align-self: center;
          line-height: 25px;
          margin: 0;
          padding-right: 5rem;
        }
      }

      .home-content-quote {
      
        text-align: right;
        margin-left: 1rem;

        svg {
          margin-bottom: 2rem;
          height: 6rem;
          color: var(--medium-color);
        }

        h2 {
          font-size: 60px;
          line-height: 55px;
          max-width: 20rem;
        }

        .cta-buttons {
          align-items: flex-end;
          justify-content: flex-end;
          a {
            width: 10rem;
            font-size: var(--font-small);
          }
        }
      }
    }
  }
}
