.page-about {
  .hero-about {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--dark-color);

    div {
      position: relative;
      width: 100vw;

      h1,
      h2 {
        line-height: 1.1;
        font-weight: 100;
        position: absolute;
        padding: 0;
        margin: 0;
      }

      h1 {
        color: var(--white);
        top: -3.3rem;
        left: 50%;
        width: 100vw;
        transform: translateX(-50%);
        font-size: 4rem;
        letter-spacing: -5px;
        z-index: 8;
      }

      h2 {
        font-size: 5rem;
        letter-spacing: -10px;
        top: 13rem;
        width: 100vw;
        left: 48%;
        transform: translateX(-50%);
        z-index: 9;
      }

      .photo-container {
        position: relative;
        display: inline-block;
        width: 250px;
        height: 380px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          margin: 0;
          z-index: 9;
          position: relative;
        }
        button {
          position: absolute;
          top: 1rem;
          left: 1rem;
          z-index: 10;
          background-color: var(--white);
          color: var(--dark-color);
          border: 2px solid var(--dark-color);
          padding: 0.4rem;
          cursor: pointer;
          text-transform: uppercase;
          font-family: var(--body-font);
          font-size: var(--font-little);
          font-weight: 500;
          letter-spacing: 0.1em;
          box-shadow: 3px 3px 0 var(--dark-color);

          display: flex;
          align-items: center;
          gap: 0.4rem;

          svg {
            width: 1rem;
            height: 1rem;
            animation: spin 3s linear infinite;
          }

          &:hover {
            background-color: var(--light-color);
            color: var(--white);
            border: 2px solid var(--medium-color);
            box-shadow: 3px 3px 0 var(--medium-color);
          }
        }
      }

      p {
        position: absolute;
        top: 8rem;
        left: 12rem;
        font-family: var(--body-font);
        font-size: var(--font-little);
        text-transform: uppercase;
        text-align: start;
        font-weight: 500;
        letter-spacing: 0.1em;
        line-height: 1.4;
        z-index: 97;
        color: var(--white);
      }
    }
  }

  article {
    margin: 1rem 0rem;
    gap: 2rem;
    justify-self: center;
    display: flex;
    flex-direction: column;

    p {
      font-family: var(--body-font);
      font-size: var(--font-supersmall);
      font-weight: 300;
      line-height: 25px;
      letter-spacing: 1.5px;
      color: var(--dark-color);
      text-align: justify;

      .bold {
        font-weight: 600;
        .crossed {
          text-decoration: line-through;
          font-weight: 400;
          text-transform: lowercase;
        }
      }
    }

    div {
      button {
        background-color: var(--white);
        color: var(--dark-color);
        padding: 0.4rem 1.5rem;
        border: var(--dark-color) 2px solid;
        font-weight: 500;
        box-shadow: 3px 3px 0 var(--dark-color);
        text-transform: uppercase;
        font-family: var(--body-font);
        margin: 0.2rem;
      }
    }
  }

  .stamps {
    margin: 5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    
    svg {
      width: 10rem;
      height: auto;
      color: var(--dark-color);
    }
  }

  .skills,
  .previous-experiences,
  .education {
    margin: 8rem 0rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1.5rem;

    h2 {
      font-family: var(--body-font);
      font-size: var(--font-medium);
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      width: 100%;
      margin-bottom: 1.5rem;
      color: var(--dark-color);
      background-color: var(--bkg-color);
      color: var(--dark-color);
      padding: 0.4rem 1.5rem;
      border: var(--dark-color) 2px solid;
      box-shadow: 4px 4px 0 var(--dark-color);
    }

    p {
      text-align: justify;
      font-size: var(--font-supersmall);
      font-weight: 300;
      line-height: 25px;
      justify-self: center;
      justify-content: center;
      justify-items: center;
      margin-bottom: 3rem;
      margin-top: 1rem;
      padding: 0rem 2.5rem;
      letter-spacing: 1.5px;
    }
  }

  .skills {
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      justify-self: center;
      justify-items: center;
      gap: 1.5rem;

      ul {
        margin: 0;
        padding: 0;

        li {
          font-family: var(--body-font);
          font-weight: 500;
          font-size: var(--font-supersmall);
        }
      }
    }
  }
  .previous-experiences {
    div {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        text-align: justify;
        padding: 1rem;
        margin: 0 2.5rem;
        gap: 1rem;
        border: var(--dark-color) 2px solid;
        box-shadow: 4px 4px 0 var(--dark-color);

        h3 {
          font-family: var(--body-font);
          font-size: var(--font-supersmall);
          text-transform: uppercase;
          font-weight: 500;
          text-align: left;
          padding-left: 2rem;
          padding-top: 1.5rem;
          text-decoration: underline;
        }
        ul {
          li {
            font-family: var(--body-font);
            font-weight: 300;
            font-size: var(--font-supersmall);
            margin-bottom: 0.9rem;
            padding-right: 1.5rem;
            text-align: left;
            list-style-position: inside;
          }
        }
      }
    }
  }
  .education {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        text-align: justify;
        padding: 1.5rem;
        margin: 0;

        p {
          margin: 0;
          padding: 0;
          text-align: center;
          line-height: 25px;
          justify-content: center;
          justify-self: center;
          justify-items: center;
        }
      }
    }
  }
  .education > div > div:last-of-type {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-top: var(--dark-color) 1px solid;
  }
}

@include mq(1050px) {
  .page-about {
    .hero-about {
      margin-top: 12rem;
      margin-bottom: 14rem;
      div {
        h1 {
          top: -8.3rem;
          font-size: 10rem;
          letter-spacing: -20px;
        }

        h2 {
          font-size: 11rem;
          letter-spacing: -20px;
          top: 32rem;
          left: 50%;
        }

        .photo-container {
          position: relative;
          display: inline-block;
          width: 500px;
          height: 760px;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin: 0;
            z-index: 9;
            position: relative;
          }
          button {
            position: absolute;
            top: 2rem;
            left: 2rem;
            padding: 0.6rem;
            font-size: var(--font-supersmall);
          }
          p {
            top: 16rem;
            left: 22rem;
            font-size: var(--font-small);
            width: 100px;
            font-weight: 400;
          }
        }
      }
    }

    .skills {
      div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0 2.5rem;
        ul {
          width: 100%;
          padding: 1rem;
          margin: 0;
          gap: 1rem;
          border: var(--dark-color) 2px solid;
          box-shadow: 4px 4px 0 var(--dark-color);

          li {
            font-family: var(--body-font);
            font-weight: 500;
            line-height: 25px;
            font-size: var(--font-supersmall);
          }
        }
      }
    }

    .previous-experiences {
      div {
        flex-direction: row;
        margin: 0 2.5rem;
        gap: 1rem;
        justify-content: center;
        div {
          margin: 0;
          padding: 0;
        }
      }
    }

    .education {
      div {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin: 0 2.5rem;
        div {
          padding: 0.8rem 4rem;
          gap: 1rem;
          border: var(--dark-color) 2px solid;
          box-shadow: 4px 4px 0 var(--dark-color);
        }
      }
    }
    .education > div > div:last-of-type {
      margin-left: 0;
      margin-right: 0;
      border: var(--dark-color) 2px solid;
      box-shadow: 4px 4px 0 var(--dark-color);
    }
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}