.single-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 2rem;

  img {
    width: 100%;
  }

  .image {
    position: relative;
    
     

    img {
     object-fit: contain;
      height: 100%;
      position: relative;
      border: 5px solid var(--dark-color);
    }
    a {
      bottom: 1.5rem;
      left: 1.5rem;
      font-size: var(--font-little);
      width: 5rem;
      text-decoration: none;
      color: var(--dark-color);
      background-color: var(--white);
      padding: .5rem;
      border: var(--dark-color) 2px solid;
      font-weight: 500;
      box-shadow: 3px 3px 0 var(--dark-color);
      transition: all 0.2s ease;
      text-align: center;
      position: absolute;
      cursor: pointer;

      &:hover {
        background-color: var(--medium-color);
        color: var(--white);
      }
    }
  }
  h2 {
    text-transform: lowercase;
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: -4px;
    margin-bottom: 2rem;
  }

  .single-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 4rem;
    margin: 0;
    padding: 0;

    .specs {
      justify-self: left;
      margin: 0;
      flex: 1;

      h3 {
        font-family: var(--body-font);
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-size: var(--font-xsmall);
        strong {
          font-weight: 600;
        }
      }
      .spec-card {
        background-color: var(--bkg-color);
        border: var(--dark-color) 2px solid;
        box-shadow: 4px 4px 0 var(--dark-color);
        padding: 4rem 3rem;
        margin: 0;
        margin-bottom: 3rem;

        div {
          margin-bottom: 1.5rem;

          p {
            font-size: 12px;
            line-height: 20px;
            font-weight: 300;
            strong {
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
        :last-child {
          margin-bottom: 0;
        }
      }
    }

    .specs-moreinfo {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 35rem;

      div {
        h3 {
          font-family: var(--body-font);
          font-weight: 300;
          font-size: var(--font-xsmall);
          text-transform: uppercase;
          margin-bottom: 2rem;
          strong {
            font-weight: 600;
          }
        }
        p {
          font-size: 12px;
          line-height: 20px;
          padding-left: 1rem;
          padding-right: 2rem;
          text-align: justify;
          font-weight: 300;
          margin-bottom: 1rem;

          strong {
            font-weight: 600;
          }

          @include mq(1050px) {
            padding-right: 0;
          }
        }
      }

      :last-child {
        div {
          display: flex;
          flex-direction: row;

          p {
            font-weight: 700;
          }
        }
      }
    }
  }
}
