.top-bar {
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100vw;
  height: 4.5rem;
  align-content: center;
  align-self: center;
  align-items: center;
  margin: 0;
  

  background-color: var(--medium-color);
  text-align: center;
  p {
    text-transform: lowercase;
    padding: 0.8rem 2.5rem;
    color: var(--white);
    font-size: var(--font-supersmall);
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 15px;
    strong {
      font-weight: 700;
    }

    @include mq(850px) {
      font-size: var(--font-small);
      line-height: 4px;
      align-self: center;
      align-content: center;
      align-items: center;
    }
  }
}
