.top-bar {
    background-color: var(--medium-color);
    text-align: center;
    p {
        text-transform: lowercase;
        padding: .8rem 2.5rem;
        color: var(--white);
        font-size: var(--font-small);
        font-weight: 100;
        // font-style: italic;
        letter-spacing: 3px;
        strong {
            font-weight: 700;
        }
    }

}