.top-bar {
    background-color: $medium-color;
    text-align: center;
    p {
        text-transform: lowercase;
        padding: .8rem 2.5rem;
        color: $white;
        font-size: $font-small;
        font-weight: 100;
        // font-style: italic;
        letter-spacing: 3px;
        strong {
            font-weight: 700;
        }
    }

}