// App Style Settings

// Colors
$beige: #FFEADE;
$dark-orange: #DF6C25;
$medium-orange: #FE914E;
$light-orange: #FFBE96;
$white: white;

// Type
$bodyFont: 'Saira', sans-serif;
$headingFont: 'Limelight', sans-serif;

// Layout
// $section-padding: em(16) em(20);igh

// Sizes
$font-small: 14px;
$font-medium: 18px;
$font-xmedium: 22px;
$font-large: 26px;
$font-xlarge: 35px;


