// App Style Settings

// Colors - Tangerine Theme
:root {
  --bkg-color: #FFEADE;
  --dark-color: #DF6C25;
  --medium-color: #FE914E;
  --light-color: #FFBE96;
  --white: #ffffff;

  --body-font: 'adrianna', sans-serif;
  --heading-font: 'Limelight', sans-serif;
  
  --font-little: 10px;
  --font-supersmall: 12px;
  --font-small: 14px;
  --font-xsmall: 16px
  --font-medium: 18px;
  --font-xmedium: 22px;
  --font-large: 26px;
  --font-xlarge: 35px;
}

[data-theme="happy-woods"] {
  --bkg-color: #E4F1E1;
  --dark-color: #3B6B3B;
  --medium-color: #5D8A5D;
  --light-color: #A9C9A5;
}
[data-theme="surfing-sky"] {
  --bkg-color: #dee4ed;
  --dark-color: #054394;
  --medium-color: #3989a2;
  --light-color: #add4f8;
}
[data-theme="strawberry-fields"] {
  --bkg-color: #ffb7b8;
  --dark-color: #db1516;
  --medium-color: #e53939;
  --light-color: #ff8f8e;
}



