Type

body {
    font-family: $bodyFont;
    color: $dark-orange;
    text-transform: uppercase;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
    color: $dark-orange;
}

h1, h2, h3, h4, p {
    margin: 0;
}

p {
    font-family: $bodyFont;
    text-transform: uppercase;
    color: $dark-orange;
    font-weight: 100;
}

a, li {
    text-decoration: none;
    color: $dark-orange;
    text-transform: uppercase;
    font-family: $bodyFont;
    list-style: none;
}
